<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="#{login_jsp.title.header}"></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<div th:replace="header.html :: navigation"></div>
<body>
<div class="container shadow-lg p-4 mb-4 bg-white">
        <h1 th:text="#{profile_jsp.title.header}"></h1><br/>
        <form method="get">
			<label for="login" th:text="#{profile_jsp.lable.login}">: </label> <output name="login" th:text="${login}"></output><br/>
            <label for="email" th:text="#{profile_jsp.lable.email}">: </label> <output name="email" th:text="${email}"></output><br/>
            <label for="firstname" th:text="#{profile_jsp.lable.name}">: </label> <output name="firstname" th:text="${firstName}"></output><br/>
            <label for="surname" th:text="#{profile_jsp.lable.surname}">: </label> <output name="surname" th:text="${surname}"></output><br/>
        </form>
        <br/>
</div>
</body>
</html>