<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<title th:text="#{student_courses.title.header}"></title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<div th:replace="header.html :: navigation"></div>
<body>
	<div class="container">
		<table class="table table-dark table-hover table-striped">
			<caption th:text="#{student_courses.table.caption.not_active}">
			</caption>
			<thead class="thead-light">
				<tr>
					<th scope="col" th:text="#{student_courses.table.colname.course}"></th>
					<th scope="col" th:text="#{student_courses.table.colname.topic}"></th>
					<th scope="col" th:text="#{student_courses.table.colname.teacher}"></th>
					<th scope="col"
						th:text="#{student_courses.table.colname.start_date}"></th>
					<th scope="col"
						th:text="#{student_courses.table.colname.stop_date}"></th>
					<th scope="col" th:text="#{student_courses.table.colname.descr}"></th>
					<th scope="col" th:text="#{student_courses.table.colname.mark}"></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="cources: ${userCoursesNotStarted}">
					<td class="align-middle"><span class="align-middle"
						th:text="${cources.course.course}"></span></td>
					<td class="align-middle"><span class="align-middle"
						th:text="${cources.course.topic.topic}"></span></td>
					<td class="align-middle"><span class="align-middle"
						th:text="${cources.course.teacher.surname}"></span></td>
					<td class="align-middle"><span class="align-middle"
						th:text="${cources.course.dateStart}"></span></td>
					<td class="align-middle"><span class="align-middle"
						th:text="${cources.course.dateEnd}"></span></td>
					<td class="align-middle"><span class="align-middle"
						th:text="${cources.course.description}"></span></td>
					<td class="align-middle"><span class="align-middle"
						th:text="${cources.mark}"></span></td>
				</tr>
			</tbody>
		</table>
		<table class="table table-dark table-hover table-striped">
			<caption th:text="#{student_courses.table.caption.active}">
			</caption>
			<thead class="thead-light">
				<tr>
					<th scope="col" th:text="#{student_courses.table.colname.course}"></th>
					<th scope="col" th:text="#{student_courses.table.colname.topic}"></th>
					<th scope="col" th:text="#{student_courses.table.colname.teacher}"></th>
					<th scope="col"
						th:text="#{student_courses.table.colname.start_date}"></th>
					<th scope="col"
						th:text="#{student_courses.table.colname.stop_date}"></th>
					<th scope="col" th:text="#{student_courses.table.colname.descr}"></th>
					<th scope="col" th:text="#{student_courses.table.colname.mark}"></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="cources: ${userCoursesActive}">
					<td class="align-middle"><span class="align-middle"
						th:text="${cources.course.course}"></span></td>
					<td class="align-middle"><span class="align-middle"
						th:text="${cources.course.topic.topic}"></span></td>
					<td class="align-middle"><span class="align-middle"
						th:text="${cources.course.teacher.surname}"></span></td>
					<td class="align-middle"><span class="align-middle"
						th:text="${cources.course.dateStart}"></span></td>
					<td class="align-middle"><span class="align-middle"
						th:text="${cources.course.dateEnd}"></span></td>
					<td class="align-middle"><span class="align-middle"
						th:text="${cources.course.description}"></span></td>
					<td class="align-middle"><span class="align-middle"
						th:text="${cources.mark}"></span></td>
				</tr>
			</tbody>
		</table>
		<table class="table table-dark table-hover table-striped">
			<caption th:text="#{student_courses.table.caption.ended}">
			</caption>
			<thead class="thead-light">
				<tr>
					<th scope="col" th:text="#{student_courses.table.colname.course}"></th>
					<th scope="col" th:text="#{student_courses.table.colname.topic}"></th>
					<th scope="col" th:text="#{student_courses.table.colname.teacher}"></th>
					<th scope="col"
						th:text="#{student_courses.table.colname.start_date}"></th>
					<th scope="col"
						th:text="#{student_courses.table.colname.stop_date}"></th>
					<th scope="col" th:text="#{student_courses.table.colname.descr}"></th>
					<th scope="col" th:text="#{student_courses.table.colname.mark}"></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="cources: ${userCoursesEnded}">
					<td class="align-middle"><span class="align-middle"
						th:text="${cources.course.course}"></span></td>
					<td class="align-middle"><span class="align-middle"
						th:text="${cources.course.topic.topic}"></span></td>
					<td class="align-middle"><span class="align-middle"
						th:text="${cources.course.teacher.surname}"></span></td>
					<td class="align-middle"><span class="align-middle"
						th:text="${cources.course.dateStart}"></span></td>
					<td class="align-middle"><span class="align-middle"
						th:text="${cources.course.dateEnd}"></span></td>
					<td class="align-middle"><span class="align-middle"
						th:text="${cources.course.description}"></span></td>
					<td class="align-middle"><span class="align-middle"
						th:text="${cources.mark}"></span></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>