<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<div th:replace="header.html :: navigation"></div>
<body>
	<div class="container">

		<main class="m-3">
			<div class="row col-md-6">
				<table class="table table-dark table-hover table-striped">
					<thead class="thead-dark">
						<tr>
							<th scope="col" th:text="#{users_jsp.table.colname.id}"></th>
							<th scope="col" th:text="#{users_jsp.table.colname.login}"></th>
							<th scope="col" th:text="#{users_jsp.table.colname.email}"></th>
							<th scope="col" th:text="#{users_jsp.table.colname.name}"></th>
							<th scope="col" th:text="#{users_jsp.table.colname.surname}"></th>
							<th scope="col" th:text="#{users_jsp.table.colname.role}"></th>
							<th scope="col" th:text="#{users_jsp.table.colname.status}"></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="users: ${allUsers}">
							<td class="align-middle"><span class="align-middle"
								th:text="${users.id}"></span></td>
							<td class="align-middle"><span class="align-middle"
								th:text="${users.login}"></span></td>
							<td class="align-middle"><span class="align-middle"
								th:text="${users.email}"></span></td>
							<td class="align-middle"><span class="align-middle"
								th:text="${users.firstName}"></span></td>
							<td class="align-middle"><span class="align-middle"
								th:text="${users.surname}"></span></td>
							<td class="align-middle"><span class="align-middle"
								th:text="${users.role.name}"></span></td>
							<td class="align-middle"><span class="align-middle"
								th:text="${users.status}"></span></td>
							<form
								th:action="@{/users/{userId}/update(userId=${users.id})}"
								method="post">
								<td><select name="optionRoles">
										<option th:each="allroles: ${allRoles}"
											th:selected="${allroles.name==users.role.name}"
											th:value="${allroles.id}" th:text="${allroles.name}"></option>
								</select></td>
								<td><button class="input" type="submit" formmethod="post"
										name="update" th:text="#{users_jsp.button.update}"></button></td>
								<td>
							</form>
							<div th:if="${users.status == true}">
								<form
									th:action="@{/users/{userId}/block(userId=${users.id})}"
									method="post">
									<button class="input" type="submit" name="status"
										th:text="#{users_jsp.button.block}"></button>
								</form>
							</div>
							<div th:if="${users.status == false}">
								<form
									th:action="@{/users/{userId}/unblock(userId=${users.id})}"
									method="post">
									<button class="input" type="submit" name="status"
										th:text="#{users_jsp.button.unblock}"></button>
								</form>
							</div>
							</td>
						</tr>
					</tbody>

				</table>
			</div>
			<div
				th:replace="pagination.html :: pagination(pageNumbers=${pageNumbers}, pageSize=${allUsers.size},
 sortField=${sortField}, sortDir=${sortDir})"></div>

		</main>
	</div>
</body>
</html>